boto3>=1.35
class_registry>=2.1
fiona>=1.10
fsspec==2024.12
lightning[pytorch-extra]==2.5.0
Pillow>=11.0
pyproj>=3.7
python-dateutil>=2.9
pytimeparse>=1.1
rasterio>=1.4
shapely>=2.0
torchvision==0.20.0
tqdm>=4.66
universal_pathlib>=0.2.5
